ul{
    list-style: none;
}


body {
  background-color: #FAFAFA;

  font-family: 'Space Grotesk', sans-serif;

}

.heading{
font-size: 40px;
color: #0F298B;
}

.vista-text p{
  font-size: 20px;
}

ul li{
    display: inline-block;
    padding: 5px 10px;
    font-size: 25px;
    padding-left: 50px;

}

.buttons {
  display: flex;
  align-items: center;

}

.play {
  height: 25px;
  width: 25px;
  margin-left: 50px;
}

.vista {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.vista-image {
  width: 50%;

}

.vista-img {
  width: 85%;
}

.vista-text {
  width: 50%;
}

.box-shadow {
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  margin: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.search-btn {
  background-color: #2549D3;
  color: #FAFAFA;
  padding: 5px;
  border-radius: 5px;
  height: 40%;
  margin: auto 0;
  width: 10%;
  border: none;
  padding: 10px;
  font-family: 'Space Grotesk', sans-serif;

}

.blue {
  color: #0F298B;
  font-weight: bolder;
}

.gray {
  color: #535353;
}


#list{
    box-sizing: border-box;
    background-color: white;
    margin: 10px;
    display: inline-block;
    border-width: 10px;
    border-radius: 20px;
}

div h1{
    color: blue;
    font-size: 60px;
    display: flex;
    max-width: 50%;
    position: left;
}

img{
float: right;
height: 85%;
width: 35%;
}



#box{
    display: inline-block;
}

#box p{
font-size: 40px;
}

#main{
    text-align: center;

}

button{
    color: blue;
}

#pro{
   font-size: 40px;
   color: blue; 
}

#main h2{
    font-size: 40px;
   color: blue; 
}

html {
    box-sizing: border-box;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container p{
  font-size: 20px;
  font: 1em sans-serif;
  font-style: italic;
  }

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .ft{
    display: flex;
  }
  
#ft h3{
    text-align: center;
    font-size: 40px;
    color: blue;
    
}

#ft p{
    text-align: center;
    font-size: 20px;
    color: black;
    
}

.select p{
    font-size: 20px;
}



footer {
  background-color: #0F298B;
  color: #FAFAFA;
  padding: 0px;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  min-height: 35vh;
  padding: 40px 35px;
}

.summary,
.property,
.About,
.Resources {
  width: 25%;
  padding: 0 20px;

}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin: 10px 0;
}